In [2]:
import pandas as pd

In [9]:
# import os
# print(os.listdir("./"))

# What columns look like in this data:
rating = pd.read_csv("./rating.csv")
rating.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [16]:
# Pick the columns we are interested:
rating = rating.loc[:,["userId", "movieId", "rating"]]
rating.head(10)

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5
5       1      112     3.5
6       1      151     4.0
7       1      223     4.0
8       1      253     4.0
9       1      260     4.0

In [3]:
# what about movies?
movie = pd.read_csv("./movie.csv")
movie.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [17]:
# Pick the columns:
# From the data we can see only around 27000 unique record from movie id 1 ~ 131262
movie.loc[:,["movieId","title"]]
movie.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller